

<div class="title">
<h1 class="todo_list_title"> ADD YOUR TODO<h1>
</div>
<br>
<% @todos.each do |todo| %>
<% if todo.user == current_user %>

<div class="index_row clearfix">
  <h2 class="todo_list_title"><%= todo.content %></h2>
  <p class="todo_list_sub_title"><%= todo.status %></p>
  <div class="links">
  <%= link_to 'Edit', edit_todo_path(todo) %> |
  <%= link_to 'Delete', todo_path(todo), method: :delete, data: { confirm: "Are you sure?" } %> 
  </div>
</div>
<%end%>

<%end%>

<div class="links">
  <%= link_to "New Todo", new_todo_path %>
</div>
