<p id="notice"><%= notice %></p>
<div class="row clearfix">
<h2 class="todo_list_title"><%= @todo.content %></h2><br>
<p class="todo_list_sub_title"><%= @todo.status%></p>
<%= link_to '<button class="button button2">Edit</button>'.html_safe, edit_todo_path(@todo) %>
<%= link_to '<button class="button button2">Back</button>'.html_safe, todos_path %>
</div>